.hero {
    margin-left: auto;
    margin-right: auto;

    background-color: $color-bckgr-secondary;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/img-background480@1x.jpg');
    background-size: 480px 400px;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {

        background-image: url('../images/img-background480@2x.jpg');
    }

    background-repeat: no-repeat;
    background-position: center center;
    background-size: content;
    background-attachment: scroll;

    &__text {
        width: 360px;
        margin-top: 0;
        margin-bottom: 30px;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.6;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color: $color-bckgr-secondary;



    }


    &__image {
        max-width: 480px;
        margin: auto;


        padding-left: 140px;
        padding-right: 140px;
        padding-top: 118px;
        padding-bottom: 118px;
        @include display(flex, center, center);
        flex-direction: column;
    }

}

.hero {
    @media (min-width:768px) {

        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/img-background768@1x.jpg');
        background-size: 768px 400px;
        display: block;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {

            background-image: url('../images/img-background768@2x.jpg');
        }

        &__image {
            max-width: 768px;
            padding-left: 204px;
            padding-right: 204px;

        }


    }
}

.hero {
    @media (min-width:1200px) {
        max-width: 1600px;
        height: 600px;
        background-color: $color-bckgr-secondary;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/img-background1200@1x.jpg');
        background-size: 1600px 600px;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {

            background-image: url('../images/img-background1200@2x.jpg');
        }

        &__text {
            width: 696px;
            margin-top: 0;
            margin-bottom: 30px;
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;


        }


        &__image {
            max-width: 1600px;
            width: 696px;
            padding-left: 452px;
            padding-right: 452px;
            padding-top: 200px;
            padding-bottom: 200px;

        }

    }
}