.header {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    padding-bottom: 25px;
    padding-top: 24px;
  
   

    @media screen and (min-width: 480px){
        width: 480px;
    
    }

    @media screen and (min-width: 768px) {
            width: 768px;
            display: flex;
            align-items: center;
            justify-content: space-around;


    }
    

    @media screen and (min-width: 1200px) 
    {
    width: 1200px;

 
    padding-bottom: 25px;
    background-color: $color-bckgr-secondary;
    display: flex;
    align-items: center; 


    
     
    }
    

    &__list {

        min-width: 45px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 93px;
        margin-right: auto;
        padding-left: 0px;
        display: flex;
       
        gap: 50px;

        list-style-type: none;

    
    }


    &__link {
        
        position: relative;
        display: block;
        height: 16px;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: $color-text-primary;
        text-decoration: none;
    
        @extend %transition;

        &:hover,
        &:focus {
            color: $color-text-action;


        }

        @media (max-width:767px) {

            display: none;
            
        }

    }

 

}

.contact-header {

    margin: 0;
    padding: 0;
margin-left: 294px;

    
@media (min-width:1200px) {
    

    display: flex;
    justify-content: space-between;
    gap: 40px;}

    &__link {
        text-decoration: none;
        @include display(flex, space-between, center);
        padding: 6px 22px;
        font-family: Roboto;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;

        color: $color-heading-subtitle;

        @extend %transition;

        &:hover,
        &:focus {

            color: $color-button-hover;

        }
    }



    &__link:last-child {

        padding: 6px 0px;

    }


    &__icon {
        margin-right: 10px;
        fill: currentColor;

    }
@media (max-width:767px) {

    display: none;

}

}
.studio::after {

    @extend %underline;

}

.portfolio::after {

    @extend %underline;

}
 .header-line {

     margin: 0;
     border: 1px solid #ECECEC;


 }



.menu-button {

display: inline-flex;
background-color: transparent;
color: black;
padding: 0;
border: none;
margin: 0;

&:hover,
&:focus {

    fill:#2196F3;
}

@media (min-width: 768px) {
    display: none;
    
}

}

.menu-button .icon-cross {

    display: none;
}

.menu-button.is-open .icon-cross {

    display: block;
}

.menu-button.is-open .icon-menu {

    display: none;
}


@media (max-width: 1199px) {


.contact-header__link {
    
    
    padding-right: 0;


}

.contact-header__link:last-child {
    display: block;
    text-align: left;
    padding-left:22px;


}
}