 .section {
    
    margin: 60px auto;
    padding-right: 15px;
    padding-left: 15px;
 }


 .menu__container {

     list-style-type: none;
     padding: 0px;
     margin-bottom: 40px;
     margin-right: 0;
     width: 440px;
    

     display: flex;
     flex-wrap: wrap;
     
     gap: 8px;


 }


 .menu__button {

     font-weight: 500;
     font-size: 16px;
     padding: 6px 22px;

     

     line-height: 1.6;
     text-align: center;
     letter-spacing: 0.06em;

     color: $color-text-primary;
     background: $color-button;
     border-radius: 4px;
     border-style: none;

     transition-property: background-color, color, box-shadow;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     transition-delay: 0;


     &:hover,
     &:focus {

         color: $color-bckgr-secondary;
         background-color: $color-text-action;

     }
 }





 /* Portfolio block*/

 .portfolio__image-area {

     max-width: 450px;
     max-height: 294px;
     position: relative;
     overflow: hidden;

 }

 .portfolio__item img {

    width: 450px;
 }

 .portfolio__overlay {

     position: absolute;

     background-color: rgba(33, 150, 243, 0.9);
     width: 100%;
     height: 100%;
     top: 0;
     right: 0;

     transform: translateY(100%);
     transition: transform 0.3s cubic-bezier(0.2, 0, 0.2, 1);
     transition-property: transform;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     transition-delay: 0;

     .portfolio__item:hover & {

         transform: translateY(0);
         opacity: 1;


     }

     & p {

         padding: 63px 24px;
         margin: 0;
         font-weight: 400;
         font-size: 18px;
         line-height: 1.6;
         letter-spacing: 0.03em;
         color: $color-bckgr-secondary;


     }
 }




 .list-bullets-none {
     list-style: none;
 }



 .portfolio__item {

     width: 450px;
     padding: 0px;
     display: flex;
     flex-direction: column;

     margin-bottom: 30px;

     transition-property: box-shadow;
     transition-duration: 250ms;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     transition-delay: 0;


     &:hover {
         box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
     }
 }

 .portfolio__list {

     width: 450px;
     padding: 0;
  
     list-style-type: none;

     .portfolio__data-block {
         border-top: transparent;
         border-left: 1px Solid $border;
         border-right: 1px Solid $border;
         border-bottom: 1px Solid $border;
         padding: 20px 24px;


     }

     .portfolio__project {
         display: inline-block;
         width: 322px;
         margin-top: 0;
         margin-bottom: 4px;

         font-weight: 700;
         font-size: 18px;
         line-height: 2;
         letter-spacing: 0.06em;
         color: $color-text-primary;

     }

     .portfolio__description {
         display: inline-block;
         width: 322px;
         margin: 0px;

         font-weight: 400;
         font-size: 16px;
         line-height: 2;
         letter-spacing: 0.03em;
         color: $color-heading-subtitle;
     }

 }

@media screen and (min-width: 480px) and (max-width: 1199px) {


    .menu__container {

        list-style-type: none;
        padding: 0px;
        margin-bottom: 40px;
        margin-right: 0;
        width: 768px;


        display: flex;
        flex-wrap: nowrap;
        justify-content: center;


    }


    
    /* Portfolio block*/

    .portfolio__image-area {

        max-width: 450px;
        max-height: 294px;
        position: relative;
        overflow: hidden;

    }

    .portfolio__item img {

        width: 354px;
       height: 294px;
    }

    
    .portfolio__item {

        width: 354px;
       
       margin-bottom: 0;
       
    }

    .portfolio__list {

        width: 738px;
        height: 2144px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        
      
    }
        


        .portfolio__data-block {
           
            padding: 20px 24px;
            height: 110px;
            

        }

        .portfolio__project {
            display: inline-block;
            width: 322px;
            margin-top: 0;
            margin-bottom: 4px;

            font-weight: 700;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
            color: $color-text-primary;

        }

        .portfolio__description {
            display: inline-block;
            width: 322px;
            margin: 0px;

            font-weight: 400;
            font-size: 16px;
            line-height: 2;
            letter-spacing: 0.03em;
            color: $color-heading-subtitle;
        }

}



@media screen and (min-width: 1200px) {

.menu__container {

    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-block {

    padding-left: 94px 0;
    margin: 94px auto;

}

.menu__container {


    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;

}

/* Portfolio block*/

.portfolio__image-area {

    max-width: 370px;
    max-height: 294px;
    position: relative;
    overflow: hidden;

}

.portfolio__overlay {

    position: absolute;

    background-color: rgba(33, 150, 243, 0.9);
    width: 370px;
    height: 294px;
    top: 0;
    right: 0;

    transform: translateY(100%);
    transition: transform 0.3s cubic-bezier(0.2, 0, 0.2, 1);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    .portfolio__item:hover & {

        transform: translateY(0);
        opacity: 1;


    }

    & p {

        padding: 63px 24px;
        margin: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        color: $color-bckgr-secondary;


    }
}




.list-bullets-none {
    list-style: none;
}


.portfolio__item img {

    width: 370px;
    height: 294px;
}
.portfolio__item {

    margin-bottom: 0;
    width: 370px;

}

.portfolio__list {

    width: 1170px;
   
   
    margin-left: auto;
    margin-right: auto;
    gap: 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    list-style-type: none;

    .portfolio__data-block {
        border-top: transparent;
        border-left: 1px Solid $border;
        border-right: 1px Solid $border;
        border-bottom: 1px Solid $border;
        padding: 20px 24px;


    }

    .portfolio__project {
        display: inline-block;
        width: 322px;
        margin-top: 0;
        margin-bottom: 4px;

        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: $color-text-primary;

    }

    .portfolio__description {
        display: inline-block;
        width: 322px;
        margin: 0px;

        font-weight: 400;
        font-size: 16px;
        line-height: 2;
        letter-spacing: 0.03em;
        color: $color-heading-subtitle;
    }

}

}