    $color-bckgr-secondary: #FFFFFF; 
    $color-bckgr-footer: #2F303A;
    $color-bckgr-invert: #1B80BF;
    $color-text-primary: #212121;
    $color-text-action: #2196F3;
    $color-heading-subtitle: #757575;
    $color-button: #F5F4FA;
    $color-button-hover: #2196F3;
    $border: #EEEEEE;